/***** BASE STYLES *****/

body {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0 auto;
}

#about {
    height: 400px;
}

#work {
    height: 600px;
}

#contact {
    height: 500px;
}

/***** GRID *****/

.full-width {
    width: 100%;
    margin: 0 auto;
}
.half-width {
    width: 50%;
    float: left;
}
.third-width {
    width: 33%;
    float: left;
}

/***** HEADER *****/

header {
    height: 600px;
    background: url('../img/header-image.png');
    background-size: cover;
    margin: -50px 0px 0px -20px;
}

nav {
    float: right;
    padding: 0px 40px;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-transform: capitalize;
    text-decoration: underline;
    font-size: 18px;
    color: #b56060;
    padding-left: 40px;
    font-family: 'Montserrat', sans-serif;
}

header h1 {
    padding: 175px 0px 0px 0px;
    font-size: 70px;
    line-height: 40px;
    color: #cc6666;
    text-align: center;
    text-decoration: none;
    font-family: 'Satisfy', cursive;
}

header h1 span {
  font-size: 25px;
  text-transform: capitalize;
  color: #b56060;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

/***** ABOUT *****/

#about .full-width {
    padding: 30px 0;
    background-color: #cfd6dc;
    text-align: center;
}

#about h2 {
    font-size: 36px;
    text-transform: capitalize;
}

#about p {
    font-size: 20px;
    color: #7f7f7f;
    line-height: 40px;
    padding-left: 200px;
    padding-right: 200px;
}

/***** WORK *****/

#work {
  background-color: #f9c7ae;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#work .full-width {
    padding: 50px 0;
}

#work img {
    padding-bottom: 30px;
}

#work h2 {
    font-size: 40px;
    line-height: 32px;
    width: 190px;
    margin: 0 auto;
}

#work h3 {
    font-size: 25px;
    line-height: 30px;
    padding: 0 50px;
    font-weight: lighter;
}

/***** CONTACT *****/

#contact {
    background-color: #cfd6dc;
}
#contact .full-width {
    padding: 110px 0;
}
#contact img#contact-img {
    margin-left: 25px;
    border: 10px solid #ffffff;
}
#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
    padding-left: 115px;
}
#contact #envelope {
    padding: 0 10px 0 115px;
}
#contact h2 {
    font-size: 36px;
    line-height: 44px;
}
#contact #email-header{
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    margin: -30px 0 5px 0;
}
#contact #socialmedia-header {
    font-weight: bold;
    font-size: 29px;
    line-height: 44px;
    margin: 40px 0 0 0;
}
#contact a {
    text-align: center;
    text-decoration: none;
    color: #cc6666;
    font-weight: bold;
    font-size: 28px;
}
#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    font-size: 32px;
    padding-right: 48px;
}
